{% extends "app.html" %}

{% block content %}
<title>About Us| FAST CARS </title>
        <!-- About Start -->
        <div class="container-fluid overflow-hidden about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-item">
                            <div class="pb-5">
                                <h1 class="display-5 text-capitalize">About <span class="text-primary">FAST CARS </span></h1>
                                <p class="mb-0">FAST CARS is committed to providing top-quality car rental services. We ensure reliability, comfort, and affordability for every journey. Whether you need a car for a short trip or a long adventure, we have you covered with our seamless booking process and excellent customer service.
                                </p>
                            </div>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="about-item-inner border p-4">
                                        <div class="about-icon mb-4">
                                            <img src="{{ url_for('static', filename='images/img/about-icon-1.png') }}" class="img-fluid w-50 h-50" alt="Icon">
                                        </div>
                                        <h5 class="mb-3">Our Vision</h5>
                                        <p class="mb-0">To be the leading car rental service, providing seamless, reliable, and affordable transportation solutions for every journey.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-item-inner border p-4">
                                        <div class="about-icon mb-4">
                                             <img src="{{ url_for('static', filename='images/img/about-icon-1.png') }}" class="img-fluid w-50 h-50" alt="Icon">
                                        </div>
                                        <h5 class="mb-3">Our Mision</h5>
                                        <p class="mb-0">To offer high-quality, well-maintained vehicles with exceptional customer service, ensuring a smooth and enjoyable rental experience for all our clients.</p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-item my-4">We are committed to providing a seamless rental process with a diverse fleet of vehicles to suit different needs, whether for business, travel, or leisure. Our goal is to ensure that every journey with FAST CARS is comfortable, safe, and memorable.
                            </p>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="text-center rounded bg-secondary p-4">
                                        <h1 class="display-6 text-white">7</h1>
                                        <h5 class="text-light mb-0">Years Of Experience</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="rounded">
                                        <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Expertise in handling various transportation needs</p>
                                        <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Well-maintained, high-performance vehicles</p>
                                        <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Customer-focused service with a seamless booking process</p>
                                        <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> A trusted reputation built over years of dedication</p>
                                    </div>
                                </div>
                                <div class="col-lg-5 d-flex align-items-center">
<!--                                    <a href="#" class="btn btn-primary rounded py-3 px-5">More About Us</a>-->
                                </div>
                                <div class="col-lg-7">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ url_for('static', filename='images/img/attachment-img.jpg') }}" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="Image">
                                        <div class="ms-4">
                                            <h4>James Michael</h4>
                                            <p class="mb-0">FAST CARS Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="about-img">
                            <div class="img-1">
                                <img src="{{ url_for('static', filename='images/img/about-img.jpg') }}" class="img-fluid rounded h-100 w-100" alt="">
                            </div>
                            <div class="img-2">
                                <img src="{{ url_for('static', filename='images/img/about-img-1.jpg') }}" class="img-fluid rounded h-100 w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Fact Counter -->
        <div class="container-fluid counter py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-thumbs-up fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">829</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Happy Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-car-alt fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">56</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Number of Cars</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-building fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">127</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Car Center</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-clock fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">589</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Total kilometers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fact Counter -->

        <!-- Team Start -->

        <!-- Team End -->

        <!-- Banner Start -->
<!--        <div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">-->
<!--            <div class="container pb-5">-->
<!--                <div class="banner-item rounded">-->
<!--                    <img src="img/banner-1.jpg" class="img-fluid rounded w-100" alt="">-->
<!--                    <div class="banner-content">-->
<!--                        <h2 class="text-primary">Rent Your Car</h2>-->
<!--                        <h1 class="text-white">Interested in Renting?</h1>-->
<!--                        <p class="text-white">Don't hesitate and send us a message.</p>-->
<!--                        <div class="banner-btn">-->
<!--&lt;!&ndash;                            <a href="#" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatchApp</a>&ndash;&gt;-->
<!--                            <a href="#" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Contact Us</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Banner End &ndash;&gt;-->

        <!-- Footer Start -->
        <!-- Footer End -->

<!--        &lt;!&ndash; Copyright Start &ndash;&gt;-->
<!--        <div class="container-fluid copyright py-4">-->
<!--            <div class="container">-->
<!--                <div class="row g-4 align-items-center">-->
<!--                    <div class="col-md-6 text-center text-md-start mb-md-0">-->
<!--                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>-->
<!--                    </div>-->
<!--                   -->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Copyright End &ndash;&gt;-->


        <!-- Back to Top -->
        <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
{% endblock %}

