{% extends 'app.html' %}

{% block content %}
<title>Features | FAST CARS </title>
 <div class="container-fluid feature py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize mb-3">FAST CARS <span class="text-primary">Features</span></h1>
                    <p class="mb-0">Experience the best with FAST CARS! 🚗💨 Our premium car rental service offers top-quality vehicles, seamless booking, and unbeatable convenience. Drive in style, comfort, and confidence—wherever the road takes you!
                    </p>
                </div>
                <div class="row g-4 align-items-center">
                    <div class="col-xl-4">
                        <div class="row gy-4 gx-0">
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <span class="fa fa-trophy fa-2x"></span>
                                    </div>
                                    <div class="ms-4">
                                        <h5 class="mb-3">Premium Services You Can Trust</h5>
                                        <p class="mb-0">Enjoy top-notch car rental services with FAST CARS—offering reliability, luxury, and convenience for every journey.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="feature-item">
                                    <div class="feature-icon">
                                        <span class="fa fa-road fa-2x"></span>
                                    </div>
                                    <div class="ms-4">
                                        <h5 class="mb-3">24/7 Road Assistance</h5>
                                        <p class="mb-0">Drive with peace of mind knowing that FAST CARS offers round-the-clock support, ensuring you're never stranded on the road.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                        {#<img src="{{ url_for('static', filename='images/img/features-img.png') }}" class="img-fluid w-100" style="object-fit: cover;" alt="Img">#}
                        <img src="{{ url_for('static', filename='images/img/20.png') }}" class="img-fluid w-100" style="object-fit: cover;" alt="Img">

                    </div>
                    <div class="col-xl-4">
                        <div class="row gy-4 gx-0">
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="feature-item justify-content-end">
                                    <div class="text-end me-4">
                                        <h5 class="mb-3">Quality at Affordable Prices</h5>
                                        <p class="mb-0">Experience premium car rentals without the premium price tag. At FAST CARS, we prioritize both quality and affordability for all our customers.</p>
                                    </div>
                                    <div class="feature-icon">
                                        <span class="fa fa-tag fa-2x"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="feature-item justify-content-end">
                                    <div class="text-end me-4">
                                        <h5 class="mb-3">Free Pick-Up & Drop-Off Service</h5>
                                        <p class="mb-0">Enjoy the convenience of free pick-up and drop-off with every rental. We ensure your journey starts and ends with ease, wherever you are.</p>
                                    </div>
                                    <div class="feature-icon">
                                        <span class="fa fa-map-pin fa-2x"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endblock %}