alembic==1.14.1
amqp==5.3.1
aniso8601==10.0.0
APScheduler==3.11.0
babel==2.16.0
bcrypt==4.2.1
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
cachelib==0.13.0
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dnspython==2.7.0
dominate==2.9.1
email_validator==2.2.0
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Alembic==3.1.1
Flask-APScheduler==1.13.1
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cache==0.13.1
Flask-Celery-Helper==1.1.0
Flask-Cors==5.0.0
Flask-DebugToolbar==0.16.0
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-MySQLdb==2.0.0
flask-peewee==3.0.6
Flask-Principal==0.4.0
flask-redis==0.4.0
Flask-RESTful==0.3.10
Flask-Security==5.5.2
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-Uploads==0.2.1
Flask-Waitress==0.0.2
Flask-WTF==1.2.2
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
idna==3.10
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.5
kombu==5.4.2
Mako==1.3.8
MarkupSafe==3.0.2
marshmallow==3.26.0
msgspec==0.19.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
packaging==24.2
passlib==1.7.4
Paste==3.10.1
peewee==3.17.8
prompt_toolkit==3.0.50
PyJWT==2.10.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-socketio==5.12.1
pytz==2024.2
redis==5.2.1
setuptools==75.8.0
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.37
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
vine==5.1.0
visitor==0.1.3
waitress==3.0.2
wcwidth==0.2.13
Werkzeug==3.1.3
wsproto==1.2.0
wtf-peewee==3.0.6
WTForms==3.2.1
