{% extends 'app.html' %}

{% block content %}
<title>Services | FAST CARS </title>

<div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize mb-3">FAST CARS <span class="text-primary">Services</span></h1>
                    <p class="mb-0">FAST CARS offers reliable and flexible car rental services with a range of vehicles to suit your needs, backed by 24/7 customer support and convenient delivery options.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-phone-alt fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Car Booking Assistance</h5>
                            <p class="mb-0">Our team is ready to help you with booking the perfect car for your journey. We are available for call and reservation!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-money-bill-alt fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Discounted Packages</h5>
                            <p class="mb-0">Enjoy amazing deals and affordable rates for long-term rentals. Check out our current offers!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-road fa-2x"></i>
                            </div>
                            <h5 class="mb-3"> One-Way Trips</h5>
                            <p class="mb-0">Need a car for a one-way trip? We offer flexible options to fit your needs.
</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-umbrella fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Car Insurance Options</h5>
                            <p class="mb-0">Drive with peace of mind knowing you’re covered with our insurance plans.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-building fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Intercity Rentals</h5>
                            <p class="mb-0">Travel between cities with ease. Our cars are available for long-distance travel.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-car-alt fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Complimentary Rides</h5>
                            <p class="mb-0">Enjoy free rides on selected bookings as part of our special promotion. Book now!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->
 {% endblock %}
